html, body{
    min-height: 100%;
}
body{
    background-color: #f8f8f8;
    -webkit-user-select: none;
    cursor: default !important;
}
.page{
    background-color: #f8f8f8;
    overflow: auto;
}
*{
    /*cursor: default !important;*/
}
a:active, a:hover {
    outline: 0;
}
a, a:visited, a:link {
    text-decoration:none;
}

nav.navbar{
    margin-bottom: 0;
}

.sidebar > ul > li{
    border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
    background-color: #eee;
}

.nav i{
    margin-right: 10px;
}

.sidebar {
    min-height: 100%;
    margin-top: 51px;
}
#page-wrapper{
    background-color: #fff;
    padding: 10px 15px 10px 15px;
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .page{
        overflow: hidden;
    }
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    #page-wrapper {
        position: absolute;
        margin: 0 0 0 251px;
        padding: 0 30px 10px 30px;
        border-left: 1px solid #e7e7e7;
        top: 52px;
        bottom: 0;
        width: auto;
    }
}

/*page app*/
.header-bar{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #3498db;
    color: #ffffff;
    display: table;
    min-height: 45px;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
}

.header-bar .header-back{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    float: left;
    color: #ffffff;
}

.header-bar .header-title{
    right: 80px;
    left: 80px;
    width: auto;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}