<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <style>
        body{
            background-color: #2D2D2D;
        }
        #comic{
            padding: 0 40px;
        }
        #comic-name{
            color: #FFFFFF;
            text-align: center;
            font-size: 32px;

        }
        #comic-content img{
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="comic" class="col-lg-8 col-lg-offset-2">
    <div id="comic-name">comic百合姬</div>
    <div id="comic-content">
        <img src="http://c-r5.sosobook.cn/pics/215514/65558/t3968364_0001.jpg" />
        <img src="http://c-r5.sosobook.cn/pics/215514/65558/t3968364_0002.jpg" />
    </div>
    <div class="btn btn-default">上一章</div>
    <div class="btn btn-default">下一章</div>
</div>
</body>
</html>